
/********** Main Game Container *****************/

.container.gamecontent {

	height:375px;
	border-bottom: 5px;
	border-color: gray;
	background-color: #F4FAFA;

}

#scorekeeper {
	font-size: 20px;
	background-color: #F4FAFA;
}

#numberToReach {
  height: 284px;
  padding-top: 100px;
  padding-left: 96px;
  font-size: 50px;
  opacity: .8;
}


/************* Flower bar buttons *************/

.btn-bluebar,
 .btn-greenbar,
 .btn-redbar,
 .btn-yellowbar {
  border-width: 0;
  cursor: pointer;
  font-weight: bold;
  padding-bottom: 2px;
  border-radius: 0;
}


.btn-bluebar {
  background: url("../images/bluehawaiiflower.jpg") no-repeat scroll 0 0 transparent;
  width: 212px;
  height: 50px;
}

.btn-greenbar {
  background: url("../images/greenhawaiiflower.jpg") no-repeat scroll 0 0 transparent;
  height: 175px;
  width: 50px;
}
.btn-redbar {
  background: url("../images/redhawaiiflower.jpg") no-repeat scroll 0 0 transparent;
  height: 175px;
  width: 50px;
  float: right;
}

.btn-yellowbar {
  background: url("../images/yellowhawaiiflower.jpg") no-repeat scroll 0 0 transparent;
  width: 212px;
  height: 50px;
}
