body {
  background-color: #3b3f45;
}

/********** Jumbotron *****************/
.jumbotron {
  background: url("../images/floralbkrd.jpg");
  background-size: 200px 200px;
}


/********** Main Game Container *****************/

.container-gamecontent {

	height:375px;
	border-bottom: 5px;
	border-color: gray;
	background-color: #3b3f45;

}

#scorekeeper {
	font-size: 20px;
	
}

.popbutton {
  max-width: 100%;
}

.wins {
  background-color: #f3f1e2;
  border-radius: 5px;
}

.losses {
  background-color: #f3f1e2;
  border-radius: 5px;
}

#playernumber {
  height: 225px;
  padding: 50px;
  font-size: 100px;
  margin: auto;
  text-align: center;
  border-radius: 5px;
}

/************* User Guess Box *************/

#number-to-reach {
  z-index: 50;
  background: url("../images/decflower.png");
  background-size: 100px;
  height: 100px;
  width: 100px;
  padding-top: 20px;
  font-size: 20px;
  border: 5px;
  border-color: #a2a6ad;
  text-align: center;
}

.col-md-1-player {
  z-index: 50;
  height: 75px;
  width: 75px;
  padding-top: 20px;
  font-size: 20px;
  border: 5px;
  border-color: #a2a6ad;
}

/************* Floral Buttons *************/

.btn-one, .btn-two, .btn-three, .btn-four {
  transition: transform .2s;
}

.btn-one:hover {
  transform: scale(1.1);
}

.btn-two:hover {
  transform: scale(1.1);
}

.btn-three:hover {
  transform: scale(1.1);
}
.btn-four:hover {
  transform: scale(1.1);
}

